.header-banner {
    background-color: #000046;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 60px;
  }
  
  .header-banner svg {
    max-height: 60px; /* Optional max height for the logo */
  }
  
  .header-banner .icon-circle {
    margin-left: auto; /* Push the icon to the far right */
  }
  