.header-banner {
    background-color: #000046;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin:0;
  }
  
  .header-banner svg {
    max-height: 60px;
  }
  
  .header-banner .icon-circle {
    margin-left: auto;
  }
  