/* Wrapper for the entire new post component */
.new-post-wrapper {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

  .new-post-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  

  .new-post-icon {
    flex-shrink: 0;
  }
  

  .new-post-icon img {
    width: 50px;
    height: 50px;
  }
  

  .new-post-input {
    background-color: #e6ebf5;
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    flex-grow: 1;
    box-sizing: border-box;
  }
  

  .new-post-button {
    background-color: #000046;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    flex-shrink: 0;
  }
  